*
{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body
{
	height: 100vh;
	background: rgb(65, 65, 65);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family:'Trebuchet MS', sans-serif
}


.app-container
{
	width: 30%;
	background-color: #0f0f24;
	border-radius: 20px;
}

.app-content
{
	display: flex;
	align-items: center;
	flex-direction: column;
	
}

.back-hills
{
	text-align: center;
	z-index: 1;
}

.back-hills img
{
	max-width: 100%;
	height: auto;

}

.location
{
	margin-top: 25px;
}

.container-temp
{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.icon-meteo
{
	margin-left: -60px;
	width: 250px;
	height: auto;
}

.container-temp-val
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.temperature
{
	font-size: 48px;
	text-align: center;
}

.temp
{
	
	font-size: 28px;
	text-align: center;
}

.container-info-temp
{
	display: flex;
	justify-content: space-around;
	width: 100%;
}



.case-uv
{
	padding: 10px;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.6);
	width: 20%;
	text-align: center;
}

.case-wind
{
	padding: 10px;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.6);
	width: 20%;
	text-align: center;
}

.case-humidty
{
	padding: 10px;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.6);
	width: 20%;
	text-align: center;
}
